.DS_Store

# Neovim local/runtime artifacts
nvim/.config/nvim/.nvimlog
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/*.log
nvim/.config/nvim/*.tmp
nvim/.config/nvim/*.swp
nvim/.config/nvim/*.swo
nvim/.config/nvim/*.bak

# Editor/project local caches
.config/nvim/.cache/
.config/nvim/.luarc.json
